.youtube-box {
    // display: none;
    visibility: hidden;
    overflow-y: auto;
}

.imgur-box {
    // display: none;
    visibility: hidden;
}

.spotify-box {
    // display: none;
    visibility: hidden;
}

.placeholder-box {
    // display: none;
    visibility: hidden;
}