.YouTube-box {
    // display: none;
    visibility: hidden;
    overflow-y: auto;
    background: #08a4bd;
    border-radius: 10px;
}

.GoogleNews-box {
    // display: none;
    visibility: hidden;
    overflow-y: auto;
    background-color: #e4572e;
    border-radius: 10px;
}

.Imgur-box {
    // display: none;
    visibility: hidden;
    overflow-y: auto;
}

.Placeholder-box {
    // display: none;
    visibility: hidden;
}