
.dashboard {
    width: 100%;
    height: 100%;
    // background-color: rgb(39, 39, 39);
}

.dashboard .sidebar {
    position: fixed;
    height: 100vh;
    width: 90px;
    background-color: beige;
}

.dashboard .main {
    // background-color: rgb(39, 39, 39);
    height: 100%;
    width: 81%;
    margin-left: 90px;
    display: flex;
}

.layout .a {
    overflow-y:auto;
    background-color: orange;
}


.playground {
    width: 75%;
    height: 80%;
    position: absolute;
    left: 125px;
    top: 100px;
    // background-color: pink;
}

.searchbar {
    border: 1px solid black;
    height: 50px;
    width: 1100px;
    position: absolute;
    left: 135px;
    top: 24px;
    font-size: 20px;
    padding-left: 20px;
}

.searchbar:focus {
    outline: none;
    border: 2px solid black;
}

// .react-grid-layout.layout {
//     background-color: pink;
// }

.inner-box {
    height: 1000px;
}


/* Inline #1 | http://localhost:3000/#/dashboard */

.playground {
  /* width: 75%; */
  /* height: 80%; */
  /* left: 125px; */
  width: 91%;
  left: 162px;
}

/* Element | http://localhost:3000/#/dashboard */

// .MuiInputBase-root {
//   position: absolute;
//   top: -117px;
//   left: 110px;
// }


/* Element | http://localhost:3000/#/dashboard */


/* Element | http://localhost:3000/#/dashboard */

div.react-grid-item:nth-child(4) > div:nth-child(1) {
  padding-right: 0px;
  padding-left: 0px;
}

/* Inline #1 | http://localhost:3000/#/dashboard */

.MuiPaper-root {
padding-left: 0px;
padding-right: 0px;
}


/* Element | http://localhost:3000/#/ */

.lilHomieForm > div:nth-child(1) > div:nth-child(1) {
  padding-right: 10px;
  padding-left: 10px;
}

/* Element | http://localhost:3000/#/dashboard */

#root > div:nth-child(1) > div:nth-child(2) {
  display: block;
  justify-content: center;
}

/* Inline #11 | http://localhost:3000/#/dashboard */

.MuiPopover-paper {
  max-width: calc(35% - 32px);
  max-height: calc(30% - 32px);
}

.logout-button:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.menu-options {
  height: 185px;
  width: 300px;
}

.meet {
display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    width: auto;
    margin-right: 99px;
}





