@import 'typeface-roboto';


.article-img {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 0 20px;
}

.item-div { 
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.art-title {
    font-family: 'Robot', sans-serif;
    letter-spacing: .5px;
    font-size: 20px;
    line-height: 1.5rem; 
}

.credit-tag {
    font-size: 10px;
    font-style: italic;
    font-family: 'Robot', sans-serif;
    margin-top: 10px;
}

.search-cont {
    margin-top: 20px;
}

.search-bar {
    margin-right: 10px;
    max-width: 450px;
    border-radius: 6px;
    border: 1px black solid;
    outline: none;
    padding-left: 15px;
    &::placeholder {
        font-family: 'Robot', sans-serif;
    font-size: 14px;
    }
    font-size: 14px;
}
#search-btn {
    border-radius: 6px;    
    border: 1px solid black;
    font-family: 'Robot', sans-serif;
    letter-spacing: .5px;
    font-size: 14px;
    &:hover {
        cursor: pointer;
    }
    width: 80px;
    height: 20px;
    outline: none;
    text-align: center;
}

#search-btn span {
    position: absolute;
}

a {
    text-decoration: underline;
    color: black;
    font-family: 'Robot', sans-serif;
}

.news-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
}