// .splash {
//     display: flex;
//     justify-content: space-evenly;
//     height: 100%;
//     width: 100%;
// }

// .splash-left {
//     height: 100%;
//     width: 70%;
// }

// .splash-left .header {
//     display: flex;
//     align-items: center;
// }

// .splash-left .banner {
//     // background-image: url(images/image-ginger-cat-page-under-construction.png);
//     height: 389px;
//     width: 583px;
// }

// .splash-right {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     height: 50%;
//     margin-right: 80px;
// }

// // .demo-container {
// //     height: 100%;
// //     width: 100%;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     color: #424242;
// //     background-color: #B0A1BA;
// // }


// // .splash-title {
// //     color: #222222;
// //     font-weight: 700;
// //     font-size: 32px;
// // }

// // .form-container h1 {
// //     color: #424242;
// //     margin-bottom: 21px;
// // }

// // .input-container .email {
// //     padding: 6px;
// //     margin-bottom: 9px;
// //     color: #424242;
// // }

// // .input-container .password {
// //     padding: 6px;
// //     color: #424242;
// // }

// // .input-container .login {
// //     margin-top: 15px;
// //     float: right;
// //     color: #424238;
// //     border: 2px solid #737373;
// //     border-radius: 5%;
// //     background-color: #B0A1BA;
// //     font-size: 16px;
// // }

// // .form-switch {
// //     color: #ae7cd2;
// //     border: none;
// //     background: none;
// // }

// // .splash-group-info {
// //     color: #424242;
// //     background-color: #B0A1BA;
// //     height: 100px;
// //     width: 100px;
// //     border-radius: 50%;
// //     display: flex;
// //     align-items: center;
// //     justify-content: center;
// //     border: 2px solid #737373;
// // }


/* Element | http://localhost:3000/#/ */

.MuiPaper-root {
  height: 100vh;
  border-left-width: 0px;
  border-left-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

/* Element | http://localhost:3000/#/ */

.MuiAvatar-root {
  border-left-width: 0px;
  border-left-style: solid;
//   margin-left: 369px;
  border-top-width: 0px;
  border-top-style: solid;
  margin-top: 10px;
}

/* Element | http://localhost:3000/#/ */

h1.MuiTypography-root {
  display: flex;
  justify-content: center;
}

.logo {
    z-index: 1;
}

.flexMeDaddy {
    background: transparent;
    width: 600px;
    height: 100vh;
}

.bigDaddyFlex {
    display: flex;
    justify-content: space-between;
    background: transparent;
}
.splash-left .banner {
    // background-image: url(images/image-ginger-cat-page-under-construction.png);
    height: 389px;
    width: 583px;
}

.lilHomieForm {
  display: flex;
  width: 500px;
}

// .lilHomieForm > div:nth-child(1) {
//     position: relative;
//     left: 25px;
// height: 100vh;
// width: 490px;
// padding-right: 10px;
// border-right-width: 0px;
// border-right-style: solid;
// margin-right: 0px;
// padding-left: 10px;
// }


.MuiPaper-root {
    width: 100%;
    height: 100%;
}

.imgSquare {
    max-width: 500px;
    max-height: 500px;
}

.flashTheFlashy {
    z-index: -99;
}


div.react-grid-item:nth-child(3) > div:nth-child(1) {
  background: #f3a81294;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
//   width: 200px;
//   height: 300px;
}


div.react-grid-item:nth-child(4) > div:nth-child(1) {
  background: #657eeb9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
//   width: 100%;
//   width: 100%;
}

div.react-grid-item:nth-child(2) > div:nth-child(1) {
  background: #e4582ea8;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
//   width: 100%;
//   width: 100%;
}

div.react-grid-item:nth-child(1) > div:nth-child(1) {
  background: #08a5bd69;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
//   width: 100%;
//   width: 100%;
}

div.react-grid-item:nth-child(5) > div:nth-child(1) {
  display: flex;
  background: #080bbd56;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}


.MuiAvatar-root {
  justify-content: center;
  align-items: center;
  margin-left: 430px;
  margin-top: 10px;
  border-top-width: 0px;
  top: 10px;
}

#avatar {
  background: transparent;
  color: #3474ff;
  overflow: visible;
  font-size: 50px;
  font-weight: 700;
}

h1.MuiTypography-root {
  margin-top: 20px;
}

.MuiPaper-rounded {
  border: none;
  outline: none;
}

#demo-button {
  margin-top: 10px;
}

#sign-up {
  position: relative;
  left: -60px;
  top: 270px;
  white-space: nowrap;
}

#login {
  position: relative;
  left: 0px;
  top: 348px;
}

#signup-a {
  position: relative;
  right: 192px;
  background: transparent;
  color: #3474ff;
  overflow: visible;
  font-size: 50px;
  font-weight: 700;
}

#login-a {
  right: 192px;
  position: relative;
  background: transparent;
  color: #3474ff;
  overflow: visible;
  font-size: 50px;
  font-weight: 700;
}

#avatar {
  background: transparent;
  color: #3474ff;
  overflow: visible;
  font-size: 50px;
  font-weight: 700;
}

.MuiAvatar-root {
  right: 192px;
  position: relative;
}

.photo {
  height: 85%;
  width: 90%;
  border-radius: 2%;
  object-fit: scale-down;
}

.react-grid-layout {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.meet {
  display: flex;
  justify-content: left;
  font-size: 35px;
  font-weight: bold;
  width: auto;
  margin-left: 58px;
}

.description2 {
  font-size: 10px;
}