
.vid-list-item {
    width: min-content;
    font-family: 'Robot', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 15px 30px;
    font-size: 26px;
    letter-spacing: .5px;
    align-items: center;
}

.vid-list-item:hover {
    cursor: pointer;
}

#ytplayer {
    width: 92%;
    margin-left: 20px;
}

.youtube-show-close {
    cursor: pointer;
    margin-left: 11px;
}

.youtube-list {
    height: 100%;
}

.playground .youtube-container {
    overflow-y: auto;
}

.youtube-cont .button:hover {
    cursor: pointer;
}

.title-youtube {
    margin-left: 15px;
}

.vid-thumb {
    width: 320px;
    height: 120px;
}

#yt-search {
    margin: 15px 0 15px 90px;
}

.youtube-cont {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 15px !important;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 30px !important;
  height: 35px !important;
  border-right: 2px solid rgba(0, 0, 0, 1) !important;
  border-bottom: 2px solid rgba(0, 0, 0, 1) !important;
}

.hidden {
    display: none;
}